[data-layout="main"] > .grid.main{
  width: 100%;
  margin: 0 auto;
}

[data-layout="main"] > .grid.main > .content{
  grid-column: content;
  grid-row: content;
  padding: 1rem;
}
[data-layout="main"] > .grid.main > .header{
  grid-column: header;
  grid-row: header;
  padding: 1rem;
}
[data-layout="main"] > .grid.main > .nav{
  grid-column: nav;
  grid-row: nav;
  padding: 1rem;
}
[data-layout="main"] > .grid.main > .footer{
  grid-column: footer;
  grid-row: footer;
  padding: 1rem;
}

[data-layout="main"] > .grid.main > .asideleft{
  grid-column: asideleft; grid-row: asideleft;
  padding: 1rem;
}
[data-layout="main"] > .grid.main > .asideright{
  grid-column: asideright;
  grid-row: asideright;
  padding: 1rem;
}

[data-layout="main"] > .grid.main{
  grid-template-columns:
    [main-start footer-start header-start nav-start asideleft-start asideright-start content-start] 6fr
    [content-end asideright-end asideleft-end nav-end header-end footer-end main-end];
  grid-template-rows:
    [main-start header-start] 50px
    [header-end nav-start] 50px
    [nav-end content-start] auto
    [content-end asideleft-start] auto
    [asideleft-end asideright-start] auto
    [asideright-end footer-start] auto
    [footer-end main-end]
}

@media( min-width: 360px ){}
@media( min-width: 720px ){}
@media( min-width: 1080px ){

  [data-layout="main"] > .grid.main{
    grid-template-columns:
      [main-start footer-start header-start nav-start asideleft-start asideright-start] 360px
      [asideleft-end content-start] auto
      [content-end asideright-end nav-end header-end footer-end main-end];

    grid-template-rows:
      [main-start header-start] 50px
      [header-end nav-start] 50px
      [nav-end content-start asideleft-start] auto
      [content-end asideleft-end asideright-start] auto
      [asideright-end footer-start] auto
      [footer-end main-end]
    }
}
@media( min-width: 1440px ){
  [data-layout="main"] > .grid.main{
    max-width: 1440px;

    grid-template-columns:
      [main-start footer-start header-start nav-start asideleft-start] 360px
      [asideleft-end content-start] auto
      [content-end asideright-start] 360px
      [asideright-end nav-end header-end footer-end main-end];

    grid-template-rows:
      [main-start header-start] 50px
      [header-end nav-start] 50px
      [nav-end content-start asideleft-start asideright-start] auto
      [content-end asideleft-end asideright-end footer-start] auto
      [footer-end main-end]
  }
}
